/* 
Beautiful Lite (blue)
version: 1.05d
tehbubbaloo (nrglg base)
*/
/*
page background: rgb(165, 168, 173)

header blue: rgb(135, 145, 166)
darkest blue: rgb(2, 27, 45)
dark border blue: rgb(51, 115, 159)
medium blue: rgb(16, 70, 109)
'black' text: rgb(20, 20, 20)
content bg: rgb(202, 202, 205)
blue border: rgb(115, 152, 178)
lightest blue: rgb(190, 197, 202)

brown text: rgb(93, 49, 3)
orange bg: rgb(205, 194, 179)
orange border (nav): rgb(199, 138, 59)
orange hover: rgb(199, 167, 126)
*/

html {
    min-height: 100%;
    height: auto;
    box-sizing: border-box;
}
body {
    background: rgb(165, 168, 173);
    color: rgb(20, 20, 20);
    font-family: 'Trebuchet MS',Helvetica,Arial,sans-serif;
}
/* Reset to prepare to overwriting */

.DataList .Item,
.Comment,
.MessageList > Item.ItemDiscussion,
.CommentsWrap > div.DataBox.DataBox-Comments > ul > li {
    background: none;
}
a:link,
a:visited {
    color: rgb(16, 70, 109);
    background: none;
    text-decoration: none !important;
}
a:hover {
    color: rgb(93, 49, 3);
    background-color: rgb(205, 194, 179);
        text-decoration: none !important;
}

/* pre pontent */

.DataBox,
.DataBox-Content {
    background-color: rgb(202, 202, 205);
    padding: 10px 20px;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -khtml-border-radius: 5px !important;
    border-radius: 5px !important;
}
/* pwenhanced header */

.picker a,
.picker:hover,
.picker:visited,
.picker:active {
    background: transparent;
}
/* pwenhanced user titles */

.enhance-title {
    background-color: rgb(16, 70, 109);
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 1px;
    display: block;
    font-weight: bold;
    margin: 2px;
}



.MItem {
    margin-left: 2px !important;
    margin-right: 2px !important;
}
.enhance-title.user {
    color: rgb(202, 202, 205);
}

div.Item-Header.DiscussionHeader > div.AuthorWrap > span.AuthorInfo > span.Rank.enhance-title {
    padding-left: 10px;
}

div.Item-Header.DiscussionHeader > div.Meta.DiscussionMeta > span.MItem.Category {
    display: inline-block;
}

/* non hover links */

a.Permalink,
a.Permalink:hover,
a.Permalink:visited {
    color: rgb(16, 70, 109) !important;
    background: transparent !important;
    text-decoration: none !important;
}

/* kill user-generated text colours */

.Message span[style^=color] {
    color: #000 !important;
  line-height: normal !important;
  font-size: 14px !important;
  margin-top: 15px !important;
}

.Signature.UserSignature span[style^=color] {
    color: #000 !important;
}

/* misc post-trendy cleanup */
.HomepageTitle {
  color: rgb(20, 20, 20);
}

/* giant image-handling */

.Message img {
    max-width: 600px;
    max-height: 600px;
}
/* Changes general post color (is too dark otherwise) */

.ItemDiscussion,
.Comment,
.Activities > .Activity,
.MessageList > li,
.Item-Search,
.CasualMessage,
.MessageList > li.Item,
.Profile .DataListWrap ul.DataList li.Item,
.DataListWrap ul.Conversations li.Item,
ol.DataList-Search li.Item,
ul.Drafts li.Item,
body.Profile.EditMode #Content form {
    background-color: rgb(202, 202, 205);
    border: 1px solid rgb(115, 152, 178);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
/* warning announce */

.WarningMessage,
.AlertMessage {
    background: #ffebe9;
    color: #FF0E00;
    border: 1px solid #FF0E00;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
.WarningMessage a,
.WarningMessage:hover,
.WarningMessage:visited,
.WarningMessage:active,
.AlertMessage a,
.AlertMessage:hover,
.AlertMessage:visited,
.AlertMessage:active {
    background: #ffebe9;
    color: #FF0E00;
    text-decoration: underline;
}
.DismissMessage a.Dismiss,
.DismissMessage .Dismiss:hover,
.DismissMessage .Dismiss:visited,
.DismissMessage .Dismiss:active {
    color: #FF0E00 !important;
    background: transparent !important;
}
#Content > div.DismissMessage.CasualMessage > div > a:hover {
    background: none !important;
    text-decoration: underline;
}
/* postbit */

.Comment .CommentHeader {
    background: rgb(165, 177, 202) !important;
    border: 1px solid rgb(165, 177, 202) !important;
    width: 130px !important;
    float: left !important;
    margin: 0px !important;
    padding: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px !important;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: relative !important;
}
/* postBit avatar*/

.AuthorWrap > .Author .ProfilePhotoMedium {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: 4px 4px 4px 4px;
}
.CommentHeader .AuthorWrap,
.CommentHeader .AuthorWrap > .Author {
    text-align: center;
}
/* postBit username*/

.Item .Author a {
    color: rgb(16, 70, 109) !important;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
}
.PhotoWrap > .Username a,
Username:visited {
    color: rgb(16, 70, 109) !important;
    background: none !important;
}
.PhotoWrap > .Username,
Username:hover {
    color: rgb(16, 70, 109) !important;
    background: none !important;
}
/* postBit date aka permalink*/

.Permalink {
    text-decoration: none;
    color: #333333;
}
/* postBit update*/

.DateUpdated {
    display: none !important;
}
/* message text */
div.Item-BodyWrap > div > div.Message {
  line-height: normal !important;
  font-size: 14px !important;
  margin-top: 15px !important;
     min-height: 90px;
}

/* edited by */

div.PostEdited {
    color: rgba(255, 0, 0, 0.7);
    display: block !important;
}
/* horizontal postbit */

.DiscussionHeader {
    background-color: rgb(165, 177, 202);
    height: 108px;
    max-height: 108px;
    margin: 5px 0px 10px 0px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px !important;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.DiscussionHeader .DiscussionMeta {
  margin-bottom: 20px;
  border-bottom: 0px;
  padding-bottom: 0px !important;
}

.ItemDiscussion .Meta, .DataList .Meta {
  font-size: 11px;
  color: rgb(20, 20, 20);
}

/* message links */

.Message a,
.Message:visited {
    color: rgb(16, 70, 109) !important;
    background-color: rgba(165, 177, 202, 0.5) !important;
    text-decoration: underline;
}
.Message a:hover {
    color: rgb(93, 49, 3) !important;
    background-color: rgb(205, 194, 179) !important;
    text-decoration: underline;
}
/* quotes */

Blockquote.Quote {
    background: rgb(205, 194, 179) !important;
    color: rgb(93, 49, 3);
    overflow: auto;
    margin: 1em;
    padding: 0ex 0px;
    border: 2px solid rgb(199, 167, 126) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px !important;
}
.QuoteAuthor {
    background: rgb(199, 167, 126);
    padding-left: 2px;
}
/* quote links */

.UserQuote a:link,
.QuoteAuthor a:link,
.UserQuote a:hover,
.QuoteAuthor a:hover,
.UserQuote a:visited,
.QuoteAuthor a:visited {
    color: rgb(93, 49, 3) !important;
    background: rgb(199, 167, 126) !important;
    text-decoration: none !important;
}
/* quote text */

.QuoteText {
    font-style: italic;
    margin: 5px;
}
/* spoiler */

div.UserSpoiler {
    border: 2px solid rgb(115, 152, 178) !important;
    background-color: rgb(190, 197, 202) !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px !important;
    margin-right: 0px !important;
}

div.UserSpoiler div.SpoilerTitle input {
    background: #CDC2B3;
    border: 1px solid #C78A3B;
    color: #5D3103;
}
div.UserSpoiler div.SpoilerText {
    padding: 3px 0px;
    padding: 3px;
    margin: 3px 0px;
    border: none;
}

.SpoilerText > pre, .SpoilerText > code {
    background-color: rgba(0, 0, 0, 0.14) !important;
}

.UserSpoiler:hover,
blockquote.Quote:hover {
  box-shadow:none !important;
}

/* code */

code,
pre {
    background-color: rgb(245, 245, 245);
    background: rgb(245, 245, 245);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 4px 8px;
    border: 2px solid rgb(115, 152, 178);
}
code:hover,
pre:hover {
    box-shadow: none;
}
/* flag/quote buttons */

.Reactions {
    background-color: rgb(202, 202, 205);
    padding: 5px;
    margin: 5px auto;
    clear: left;
    border: 1px solid rgb(115, 152, 178);
    padding: 5px !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
.Reactions,
.Reactions a,
.Reactions:hover,
.Reactions:visited {
    color: rgb(16, 70, 109) !important;
    background-color: rgb(190, 197, 202) !important;
}
.ReactSprite {
    background-image: url('http://i.imgur.com/JQJRdIK.png') !important;
}
/* fix block-user offset */

.ReactReject {
    background-position: -341px -5px;
}

.ReactButton, .ReactButton-Flag {
    line-height: 18px !important;
}

/* Change form box color (index, activity, profile, post) */

.CommentFormWrap {
    background: none;
    border: 0;
}
.Section-ActivityList .FormWrapper,
.FormWrapper {
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: rgb(190, 197, 202);
    border: 1px solid rgb(115, 152, 178);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
/* Add backgrounds to preferences 
#Content > div.FormTitleWrapper > div.Preferences,
#Content form[action="/profile/picture?"],
#Content form[action="/profile/online?"],
#Content form[action="/profile/quotes?"],
#Content form[action="/profile/signature?"],
#Content form[action="/profile/edit?"]
{
    background-color:rgba(51, 102, 204, 0.45) !important;
    border-radius:5px;
}
*/
/* User Overall Control Panel */

#Head {
    background: rgb(16, 70, 109);
}
.Row > .Box {
    background: rgb(2, 27, 45);
    border: 1px solid rgb(51, 115, 159);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
.BoxTop {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}
.MeBox.Inline .Username,
.MeBox.Inline .Username:hover {
    color: #FFF !important;
    background: transparent;
    text-decoration: none;
}
.SiteMenu li a {
    color: #FFF !important;
}
.SiteMenu li a:hover {
    color: #FFF !important;
    background: rgb(16, 70, 109);
    text-decoration: none
}
/* User Profile */

#Panel {
    box-sizing: border-box;
    padding: 5px;
    background-color: rgb(190, 197, 202);
    border: 1px solid rgb(115, 152, 178);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
#Panel .ProfilePhotoLarge {
    width: 190px;
    border-radius: 5px 5px 0px 0px;
}
#Panel .Box {
    background: none;
    border: none;
}
.FilterMenu > li {
    padding: 0px !important;
}
.FilterMenu > li a,
.FilterMenu > li a:link {
    display: block;
    padding: 5px 0 5px 5px;
    color: rgb(51, 115, 159) !important;
}
.FilterMenu > li a:hover {
    background-color: rgb(202, 202, 205) !important;
    color: rgb(16, 70, 109) !important;
}
.Gloss,
dl.About dt,
.DataList .Meta,
.DiscussionForm label {
    color: rgb(20, 20, 20) !important;
}
dl.About dt {
    background: url('http://i.imgur.com/kJ4InJH.png') 2px -139px no-repeat transparent;
}
/* profile page */

.PanelInfo > li {
    padding: 0px !important;
}
.PanelInfo > li a,
.FilterMenu > li a:link {
    display: block;
    padding: 5px 0 5px 5px;
    color: rgb(51, 115, 159) !important;
}
.PanelInfo > li a:hover {
    background-color: rgb(202, 202, 205) !important;
    color: rgb(16, 70, 109) !important;
}
/* Navigation Buttons (including page listings) */

#Body .Button:not([value="Search"]),
.NavButton,
.Pager a,
.Pager span,
#Body .Button:not([value="Search"]):focus,
.NavButton:focus,
.Pager a:focus,
.Pager a:active:focus,
.NavButton.ProfileButtons.Button-EditProfile {
    background: rgb(205, 194, 179) !important;
    color: rgb(93, 49, 3) !important;
    border: 1px solid rgb(199, 138, 59);
    box-shadow: 0 2px 3px 0px #000;
    border-radius: 3px;
}
#Body .Button:not([value="Search"]):hover,
.NavButton:hover,
.Pager a:hover:not(.Highlight),
.NavButton.ProfileButtons.Button-EditProfile:hover {
    background: rgb(199, 167, 126) !important;
    color: rgb(93, 49, 3) !important;
    border: 1px solid rgb(199, 138, 59);
}
#Body .Button:not([value="Search"]):active:hover,
.NavButton:active:hover,
.Pager a:active:not(.Highlight) {
    background: rgb(199, 167, 126) !important;
    color: rgb(93, 49, 3) !important;
    border: 1px solid rgb(199, 138, 59);
}
.Pager a.Highlight {
    background: rgb(190, 197, 202) !important;
    color: rgb(2, 27, 45) !important;
    border: 1px solid rgb(115, 152, 178);
}
.Button .SpDropdownHandle {
    border-color: rgb(93, 49, 3) transparent transparent transparent !important;
}
/* pagination positioning */

.BeforeCommentHeading {
    margin: 3px;
}
/* tables */

.CategoryTable > tbody > tr,
.DiscussionsTable > tbody > tr {
    background-color: rgb(202, 202, 205);
}
.CategoryTable > tbody > tr.Item.Read.ItemDiscussion,
.DiscussionsTable > tbody > tr.Item.Read.ItemDiscussion {
    background-color: rgb(202, 202, 205);
}
.CategoryTable > tbody > tr.Item.Unread.ItemDiscussion,
.DiscussionsTable > tbody > tr.Item.Unread.ItemDiscussion {
    background-color: rgb(202, 202, 205);
}
.CategoryTable > tbody > tr.Item.New.ItemDiscussion,
.DiscussionsTable > tbody > tr.Item.New.ItemDiscussion {
    background-color: rgb(202, 202, 205);
}

.DataTableWrap {
  border: 1px solid rgb(51, 115, 159);
}

#Content > div.DataTableWrap > table > tbody {
    line-height: normal !important;
}

/* Hover */

.CategoryTable > tbody > tr:hover,
.DiscussionsTable > tbody > tr:hover td {
    background: rgb(202, 202, 205) !important;
}
.CategoryTable > tbody > tr.Item.Read.ItemDiscussion:hover,
.DiscussionsTable > tbody > tr.Item.Read.ItemDiscussion:hover td {
    background: rgb(202, 202, 205) !important;
}
.CategoryTable > tbody > tr.Item.Unread.ItemDiscussion:hover,
.DiscussionsTable > tbody > tr.Item.Unread.ItemDiscussion:hover td {
    background: rgb(202, 202, 205) !important;
}
.CategoryTable > tbody > tr.Item.New.ItemDiscussion:hover,
.DiscussionsTable > tbody > tr.Item.New.ItemDiscussion:hover td {
    background: rgb(202, 202, 205) !important;
}
.Item.ItemDiscussion:hover td a:hover {
    color: rgb(16, 70, 109);
}
.CategoryGroup tr,
.ContentColumn .CategoryGroup {} .DataTable > thead > tr > td {
    background: rgb(199, 167, 126);
    color: rgb(93, 49, 3);
}
.ChildCategories a {} .ChildCategoryList .Item h3.CategoryName {
    margin-top: 1px;
    border-bottom: 1px solid transparent;
    background: rgba(62, 62, 135, 0.7) !important;
}
.ChildCategoryList .Item h3.CategoryName a:hover {
    text-shadow: 0px 0px 3px #000;
    color: #85C2FF;
}
.DataList.ChildCategoryList > li.Item {
    background: linear-gradient(#9DCEFF, #122447);
}
#Body .SearchForm form[action="/search"] {
    display: none;
}
/*bookmark star hover */

a.Hijack.Bookmark:hover {
    background: none;
}
/* Post internal borders */

.Comment .Item-BodyWrap {
    border-left: 1px solid rgba(51, 153, 255, 0.35);
}
/*signature stuff */

.Signature.UserSignature {
    border-color: rgba(115, 152, 178, 0.4);
    font-size: 9pt;
    color: rgb(100, 100, 100);
    padding: 5px 0 0;
    margin-top: 5px;
    max-height: 150px;
    overflow: hidden;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    opacity: 0.6;
}

.Signature.UserSignature img {
    width: auto;
    height: auto;
    max-width: 550px !important;
    max-height: 100px !important;
}
/* modals */

.FlyoutMenu {
    width: 300px;
    background: rgb(190, 197, 202);
    color: rgb(20, 20, 20);
    border: solid 1px rgb(115, 152, 178);
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.PopList.Popin li > div,
.PopList .Item,
.PopList .Center {
    padding: 0px !important;
    font-size: small;
}
.PopList.Popin li > div a:link,
.PopList .Center a {
    display: block;
    padding: 5px 0 5px 5px;
    color: rgb(51, 115, 159) !important;
}
.PopList li > div a:hover,
.PopList li > a:hover,
.PopList .Item:hover,
.PopList .Center a:hover {
    background-color: rgb(202, 202, 205) !important;
    color: rgb(16, 70, 109) !important;
}
/* alerts */

.InformMessages {}
/* Headings */

h2.H {
    color: rgb(20, 20, 20);
}
/* table borders */

.CategoryTable > tbody > tr > td,
.DiscussionsTable > tbody > tr > td {
    border-top: 1px solid rgb(51, 115, 159);
    border-bottom: 1px solid rgb(51, 115, 159);
}
/* tooltips */

.tooltip-comment {
    max-height: 150px;
    overflow: hidden;
    background: rgb(190, 197, 202);
    color: rgb(20, 20, 20);
    border: solid 1px rgb(115, 152, 178);
    border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}
.tooltip-comment:after {
    content: '';
    border: 0px;
    width: 100%;
    top: 100px;
    left: 0px;
    height: 65px;
    position: absolute;
    display: block;
    background: rgba(190, 197, 202, 0);
    background: -moz-linear-gradient(top, rgba(190, 197, 202, 0) 0%, rgba(190, 197, 202, 0) 49%, rgba(190, 197, 202, 1) 80%, rgba(190, 197, 202, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(190, 197, 202, 0)), color-stop(49%, rgba(190, 197, 202, 0)), color-stop(80%, rgba(190, 197, 202, 1)), color-stop(100%, rgba(190, 197, 202, 1)));
    background: -webkit-linear-gradient(top, rgba(190, 197, 202, 0) 0%, rgba(190, 197, 202, 0) 49%, rgba(190, 197, 202, 1) 80%, rgba(190, 197, 202, 1) 100%);
    background: -o-linear-gradient(top, rgba(190, 197, 202, 0) 0%, rgba(190, 197, 202, 0) 49%, rgba(190, 197, 202, 1) 80%, rgba(190, 197, 202, 1) 100%);
    background: -ms-linear-gradient(top, rgba(190, 197, 202, 0) 0%, rgba(190, 197, 202, 0) 49%, rgba(190, 197, 202, 1) 80%, rgba(190, 197, 202, 1) 100%);
    background: linear-gradient(to bottom, rgba(190, 197, 202, 0) 0%, rgba(190, 197, 202, 0) 49%, rgba(190, 197, 202, 1) 80%, rgba(190, 197, 202, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='rgb(190, 197, 202)', endColorstr='rgb(190, 197, 202)', GradientType=0);
}
/* flayouts like report/preferences */

.MenuItems {
    background: rgb(190, 197, 202);
}
/* search result highlights */

mark {
    background: rgba(255, 232, 0, 0.5) !important;
}
/* breadcrumb */

#Frame > div:nth-child(2) {
    background-color: rgb(135, 145, 166);
}
.Separator {
    background: rgb(51, 115, 159);
}

/* tags */
.Tag {
    line-height: 18px !important;
    padding: 2px 4px !important;
}

span.Tag.QnA-Box.QnA-Accepted,
.QnA-Tag-Answered,
.QnA-Tag-Accepted {
    background: rgba(14, 113, 3, 0.66);
}

.QnA-Tag-Question {
    background: rgba(251, 122, 0, 0.66);
    color: rgb(255, 255, 255);
}

.Tag-Closed {
    background: rgba(255, 0, 0, 0.42);
}

.Tag-Announcement {
    background: rgba(16, 70, 109, 0.66);
}

.Tag-Poll {
    background: rgba(195, 189, 1, 0.66);
}

.HasNew {
    border-radius: 25px;
    background: rgba(221, 0, 0, 0.66);
    color: rgb(255, 255, 255);
}

/* closed */
#Content > div.Foot.Closed > div {
    background: #ffebe9;
    color: #FF0E00;
    border: 1px solid #FF0E00;
    padding: 2px 2px 2px 10px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

 /* forumlist catagories */
.ChildCategoryList .Item h3.CategoryName {
  margin-top: 0px !important;
  border-bottom: 1px solid rgb(51, 115, 159) !important;
  background: rgba(199, 167, 126, 1) !important;
}

.DataList.ChildCategoryList > li.Item {
  background: rgb(165, 177, 202) !important;
}

.ChildCategoryList .Item h3.CategoryName a:hover {
  text-shadow: none !important;
  color: rgb(16, 70, 109) !important;
  text-decoration: none !important;
  background: none !important;
}

/* server status addon */

.Game_Pop {
    background: rgba(2, 27, 45, 0.9) !important;
    color:#FFF;
    border: 1px solid #33739F !important;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.Game_Status_Block{
    background: rgb(135, 145, 166) !important;
    color: rgb(20, 20, 20) !important;
    border: 1px solid rgb(51, 115, 159) !important;
    padding: 0px 2px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2) !important;
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    -khtml-box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    cursor: default !important;
}

div.Game_Block:not(#Opt_block):hover {
    background: rgb(2, 27, 45) !important;
    color: rgb(135, 145, 166) !important;
    border-left: 0px;
    border-right: 0px;
}

#Game_Select_Button {
    color: #CACACD !important;
}

/* game panel support */
#gppop {
    background: rgba(2, 27, 45, 0.9) !important;
}

.gpgameitem:hover {
    background-color: rgb(135, 145, 166) !important;
    border-color: rgb(51, 115, 159) !important;
}

#gpoptbutton {
    background-color: rgb(205, 194, 179) !important;
    color: rgb(93, 49, 3) !important;
}

#gpoptbutton:hover {
    background-color: rgb(199, 167, 126) !important;
    color: rgb(93, 49, 3) !important;
}
