/* 
Beautiful Lite (blue)
version: 0.167
tehbubbaloo (nrglg base)
*/
 /*
darkest blue: #021b2d
dark border blue: #33739f
medium blue: #10466d
'black' text: #141414
content bg: #cacacd
blue border: #7398b2
lightest blue: #bec5ca

brown text: #5d3a0d
orange bg: #cdc2b3
orange border: #c78a3b
orange hover: #c7a77e
*/

html { min-height:100%; height:auto; box-sizing:border-box; }

body
{
    background: #ACACAC;
    color: #141414;
}

/* Reset to prepare to overwriting */
.DataList .Item,
.Comment,
.MessageList > Item.ItemDiscussion,
.CommentsWrap > div.DataBox.DataBox-Comments > ul > li
{
    background:none;
}
a:link, a:visited {
    color: rgb(16,70,109);
    background: none;
}

a:hover {
  color: #553103;
  background-color: #cdc2b3; 
}

/* pre pontent */
.DataBox, .DataBox-Content {
  background-color: rgb(202, 202, 205);
  padding: 10px 20px;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -khtml-border-radius: 5px !important;
  border-radius: 5px !important;
}

/* pwenhanced header */
.picker a,
.picker:hover,
.picker:visited,
.picker:active {
    background: transparent;
}
    
/* pwenhanced user titles */
.enhance-title {
  background-color: #10466d;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  display: block;
  font-weight: bold;
  margin: 2px;
}

.MItem {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.enhance-title.user {
  color: #CACACD;
}

/* non hover links */
a.Permalink,
a.Permalink:hover,
a.Permalink:visited {
    color: rgb(16,70,109) !important;
    background: transparent !important;
}

/* kill user-generated text colours */
.Message span[style^=color] {
	color: #000 !important;
}

.Signature.UserSignature span[style^=color] {
    color: #000 !important;
}

/* giant image-handling */
.Message img {
  max-width: 600px;
  max-height: 600px;
}

/* Changes general post color (is too dark otherwise) */
.ItemDiscussion,
.Comment,
.Activities > .Activity,
.MessageList > li,
.Item-Search,
.CasualMessage,
.MessageList > li.Item,
.Profile .DataListWrap ul.DataList li.Item,
.DataListWrap ul.Conversations li.Item,
ol.DataList-Search li.Item,
ul.Drafts li.Item,
body.Profile.EditMode #Content form
{
    background-color:#cacacd;
    border:1px solid #7398b2;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    -khtml-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    border-radius:5px;

}

/* warning announce */
.WarningMessage,
.AlertMessage {
  background: #ffebe9;
      color: #FF0E00;
  border: 1px solid #FF0E00;  
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  -khtml-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  box-shadow: 2px 2px 5px rgba(0,0,0,.2);
  border-radius:5px;  
}

.WarningMessage a,
.WarningMessage:hover,
.WarningMessage:visited,
.WarningMessage:active,
.AlertMessage a,
.AlertMessage:hover,
.AlertMessage:visited,
.AlertMessage:active{
  background: #ffebe9;
  color: #FF0E00;
  text-decoration: underline;
}

.DismissMessage a.Dismiss,
.DismissMessage .Dismiss:hover,
.DismissMessage .Dismiss:visited,
.DismissMessage .Dismiss:active {
  color: #FF0E00 !important;
  background: transparent !important;
}

#Content > div.DismissMessage.CasualMessage > div > a:hover {
    background: none !important;
    text-decoration: underline;
}

/* postbit */
.Comment .CommentHeader {
  background: rgb(165, 177, 202) !important;
  border: 1px solid rgb(165, 177, 202) !important;
  width: 130px !important;
  float: left !important;
  margin: 0px !important;
  padding: 5px !important; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px !important;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
  -khtml-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
  box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
  position: relative !important;
}

/* postBit avatar*/
.AuthorWrap > .Author .ProfilePhotoMedium {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}

.CommentHeader .AuthorWrap, .CommentHeader .AuthorWrap > .Author {
    text-align: center;
}

/* postBit username*/
.Item .Author a {
  color:rgb(16,70,109) !important;
  font-size: 14px;
  font-weight: bold;
  background: transparent;
}

.PhotoWrap > .Username  a, Username:visited {
  color:rgb(16,70,109) !important;
  background: none !important;
}

.PhotoWrap > .Username, Username:hover {
  color:rgb(16,70,109) !important;
  background: none !important;  
} 

/* postBit date aka permalink*/
.Permalink {
  text-decoration: none;
  color: #333333;
}

/* postBit update*/
.DateUpdated {
   display:none !important;  
}

/* message */
/* edited by */
div.PostEdited {
  color: rgba(255, 0, 0, 0.7);
  display: block !important;
}

/* horizontal postbit */
.DiscussionHeader {
  background-color: rgb(165, 177, 202);
  margin: 5px 0px 10px 0px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px !important;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
  -khtml-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
  box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
}
/* message links */
.Message  a,
.Message:visited {
  color:rgb(16,70,109) !important;
  text-decoration: underline;
}

.Message a:hover {
  color: #553103 !important;
  background-color: #cdc2b3 !important;
  text-decoration: underline;
}    

/* quotes */
Blockquote.Quote {
  background: #cdc2b3 !important;
  color: #553103;
  border-color: #c7a77e !important;
  overflow: auto;
  margin: 1em;
  padding: 0ex 0px;
  border: 2px solid #c7a77e !important; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px !important;
}

.QuoteAuthor {
  background: #c7a77e;
  padding-left: 2px;
}

/* quote links */
.UserQuote a:link,
.QuoteAuthor a:link,
.UserQuote a:hover,
.QuoteAuthor a:hover,
.UserQuote a:visited,
.QuoteAuthor a:visited {
    color: #553103 !important;
    background: transparent !important;
    text-decoration: none;
}

/* quote text */
.QuoteText {
    font-style: italic;
    margin: 5px;
}

/* spoiler */

.UserSpoiler {
  border: 2px solid #7398B2 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px !important;
  margin-right: 0px !important;
}

div.UserSpoiler div.SpoilerText {
padding: 3px 0px;
  padding: 3px;
  margin: 3px 0px;
  border: none;
}

/* code */
code, pre {
  background-color: rgb(245, 245, 245);
    background: rgb(245, 245, 245);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 4px 8px;
  border: 2px solid #7398B2;
}
code:hover, pre:hover {
  box-shadow: none;
}

/* flag/quote buttons */
.Reactions {
  background-color: rgb(202, 202, 205);
  padding: 5px;
  margin: 5px auto;
  clear: left;
  border: 1px solid rgb(115, 152, 178);
  padding: 5px !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.Reactions,
.Reactions a,
.Reactions:hover,
.Reactions:visited {
    color: rgb(16,70,109) !important;
    background-color: #BEC5CA !important;
}

.ReactSprite {
    background-image: url('http://i.imgur.com/JQJRdIK.png') !important;
}

/* fix block-user offset */
.ReactReject {
  background-position: -341px -5px;
}

/* new post icons */
.HasNew {
  background: #d00;
  color: #FFF;
}
/* Change form box color (index, activity, profile, post) */
.CommentFormWrap
{
    background:none;
    border:0;
}

.Section-ActivityList .FormWrapper,
.FormWrapper
{
    box-sizing:border-box;
    margin-bottom:10px;
    background-color:#bec5ca;
    border:1px solid #7398b2;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    -khtml-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    border-radius:5px;
}

/* Add backgrounds to preferences 
#Content > div.FormTitleWrapper > div.Preferences,
#Content form[action="/profile/picture?"],
#Content form[action="/profile/online?"],
#Content form[action="/profile/quotes?"],
#Content form[action="/profile/signature?"],
#Content form[action="/profile/edit?"]
{
    background-color:rgba(51, 102, 204, 0.45) !important;
    border-radius:5px;
}
*/
/* User Overall Control Panel */
#Head
{
    background:#10466d;
}

.Row > .Box
{
	background: #021b2d;
	border: 1px solid #33739f;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    -khtml-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    border-radius:5px;
}

.BoxTop
{
	box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}

.MeBox.Inline .Username,
.MeBox.Inline .Username:hover {
    color: #FFF !important;
    background: transparent;
}

.SiteMenu li a {
    color: #FFF !important;    
}
.SiteMenu li a:hover {
  color: #FFF !important;
  background: #10466d;
  text-decoration:none
}
/* User Profile */
#Panel
{
    box-sizing:border-box;
    padding:5px;
    background-color: #bec5ca;
	border: 1px solid #7398b2;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    -khtml-box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    border-radius:5px;
}

#Panel .ProfilePhotoLarge
{
    width:190px;
    border-radius:5px 5px 0px 0px;
}

#Panel .Box
{
    background:none;
    border:none;
}

.FilterMenu > li
{
    padding:0px !important;
}

.FilterMenu > li a, .FilterMenu > li a:link
{
    display:block;
    padding:5px 0 5px 5px;
    color: #33739f !important;
}

.FilterMenu > li a:hover
{
    background-color:#cacacd !important;
    color:#10466d !important;
}

.Gloss, dl.About dt, .DataList .Meta, .DiscussionForm label {
    color: #141414 !important;
}
dl.About dt {
  background: url('http://i.imgur.com/kJ4InJH.png') 2px -139px no-repeat transparent;
}

/* profile page */
.PanelInfo > li
{
    padding:0px !important;
}

.PanelInfo > li a, .FilterMenu > li a:link
{
    display:block;
    padding:5px 0 5px 5px;
    color: #33739f !important;
}

.PanelInfo > li a:hover
{
    background-color:#cacacd !important;
    color:#10466d !important;
}

/* Navigation Buttons (including page listings) */
#Body .Button:not([value="Search"]), .NavButton, .Pager a, .Pager span,
#Body .Button:not([value="Search"]):focus, .NavButton:focus, .Pager a:focus, .Pager a:active:focus,
.NavButton.ProfileButtons.Button-EditProfile
{
	background: #cdc2b3 !important;
    color: #5d3a0d !important;
    border:1px solid #c78a3b;
    box-shadow:0 2px 3px 0px #000;
    border-radius:3px;
}

#Body .Button:not([value="Search"]):hover, .NavButton:hover, .Pager a:hover:not(.Highlight),
.NavButton.ProfileButtons.Button-EditProfile:hover
{
	background: #c7a77e !important;
    color: #5d3a0d !important;
    border:1px solid #c78a3b;
}

#Body .Button:not([value="Search"]):active:hover, .NavButton:active:hover, .Pager a:active:not(.Highlight)
{
	background: #c7a77e !important;
    color: #5d3a0d !important;
    border:1px solid #c78a3b;
}

.Pager a.Highlight
{
	background: #bec5ca !important;
    color: #021b2d !important;
    border:1px solid #7398b2;
}

.Button .SpDropdownHandle {
  border-color: #5d3a0d transparent transparent transparent !important;
}

/* pagination positioning */
.BeforeCommentHeading {
  margin: 3px;
}

/* tables */
.CategoryTable > tbody > tr,
.DiscussionsTable > tbody > tr
{
    background-color: #cacacd;
}

.CategoryTable > tbody > tr.Item.Read.ItemDiscussion,
.DiscussionsTable > tbody > tr.Item.Read.ItemDiscussion
{
    background-color: #cacacd;
}

.CategoryTable > tbody > tr.Item.Unread.ItemDiscussion,
.DiscussionsTable > tbody > tr.Item.Unread.ItemDiscussion
{
    background-color: #cacacd;
}

.CategoryTable > tbody > tr.Item.New.ItemDiscussion,
.DiscussionsTable > tbody > tr.Item.New.ItemDiscussion
{
    background-color: #cacacd;
}

/* Hover */
.CategoryTable > tbody > tr:hover,
.DiscussionsTable > tbody > tr:hover td
{
    background: #cacacd !important;
}

.CategoryTable > tbody > tr.Item.Read.ItemDiscussion:hover,
.DiscussionsTable > tbody > tr.Item.Read.ItemDiscussion:hover td
{
    background: #cacacd !important;
}

.CategoryTable > tbody > tr.Item.Unread.ItemDiscussion:hover,
.DiscussionsTable > tbody > tr.Item.Unread.ItemDiscussion:hover td
{
    background: #cacacd !important;
}

.CategoryTable > tbody > tr.Item.New.ItemDiscussion:hover,
.DiscussionsTable > tbody > tr.Item.New.ItemDiscussion:hover td
{
    background: #cacacd !important;
}

.Item.ItemDiscussion:hover td a:hover
{
    color: #10466d;
}

.CategoryGroup tr, .ContentColumn .CategoryGroup
{
    
}

.DataTable > thead > tr > td
{
    background: #c7a77e;
    color:#5d3a0d;
}

.ChildCategories a
{
    
}

.ChildCategoryList .Item h3.CategoryName
{
    margin-top:1px;
    border-bottom:1px solid transparent;
    background: rgba(62, 62, 135, 0.7) !important;
}

.ChildCategoryList .Item h3.CategoryName a:hover
{
    text-shadow:0px 0px 3px #000;
    color:#85C2FF;
}

.DataList.ChildCategoryList > li.Item
{
    background: linear-gradient(#9DCEFF, #122447);
}

#Body .SearchForm form[action="/search"]
{
    display:none;
}
/*bookmark star hover */
a.Hijack.Bookmark:hover {
    background: none;
}

/* Post internal borders */
.Comment .Item-BodyWrap
{
    border-left:1px solid rgba(51, 153, 255, 0.35);
}

/*signature stuff */
.Signature.UserSignature
{
  border-color: rgba(115, 152, 178,0.4);
  font-size: 9pt;
  color: rgb(100,100,100);
  padding: 5px 0 0;
  margin-top: 5px;
  max-height: 150px;
  overflow: hidden;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  opacity: 0.6;
}
.Signature.UserSignature img {
  width: auto;
  height: auto;
  max-width: 550px !important;
  max-height: 140px !important;
}

/* modals */
.FlyoutMenu {
  width: 300px;
  background: #BEC5CA;
  color: #141414;
  border: solid 1px #7398B2;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
  -khtml-box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
  box-shadow: 2px 2px 5px rgba(0,0,0, 0.2);
}

.PopList.Popin li > div,
.PopList .Item,
.PopList .Center
{
    padding:0px !important;
    font-size: small;
}

.PopList.Popin li > div a:link,
.PopList .Center a {
    display:block;
    padding:5px 0 5px 5px;
    color: #33739f !important;
}

.PopList li > div a:hover,
.PopList li > a:hover,
.PopList .Item:hover,
.PopList .Center a:hover {
    background-color:#cacacd !important;
    color:#10466d !important;
}

/* alerts */
.InformMessages {
}

/* Headings */
h2.H {
    color: #141414;
}
/* table borders */
.CategoryTable > tbody > tr > td, .DiscussionsTable > tbody > tr > td {
  border-top: 1px solid #33739F;
  border-bottom: 1px solid #33739F;
}

/* tooltips */
.tooltip-comment {
  max-height: 150px;
  overflow: hidden;
  background: #BEC5CA;
  color: #141414;
  border: solid 1px #7398B2;
  border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0, 0.4);
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0, 0.4);
  -khtml-box-shadow: 2px 2px 5px rgba(0,0,0, 0.4);
  box-shadow: 2px 2px 5px rgba(0,0,0, 0.4);
}   

/* flayouts like report/preferences */
.MenuItems {
  background: #BEC5CA;
}
